---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-docker-k8s-service
  labels:
    app: redis-docker-k8s-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis-docker-k8s-service
  template:
    metadata:
      labels:
        app: redis-docker-k8s-service
    spec:
      containers:
        - name: redis-docker-k8s-service
          image: devicaro18/redis-docker-k8s-image:v1
          ports:
            - containerPort: 6379
          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "1Gi"
          readinessProbe:
            tcpSocket:
              port: 6379
            initialDelaySeconds: 10
            periodSeconds: 5
            timeoutSeconds: 5
            successThreshold: 1
            failureThreshold: 3